
<footer class="p-6 py-8 mt-8 bg-gradient-to-r from-slate-700 to-slate-500 md:py-16 md:p-8">
<div class="max-w-screen-lg mx-auto text-center text-white">

		<p class="">CodeXpress by XXX</p>
		<p class="">{{ 'now'|date('Y') }}</p>
		
	</div>
</footer>
